<!DOCTYPE html>
<app-navigation-bar></app-navigation-bar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome {{ user.Name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>Username:</h3>
    <p>{{ user.Username }}</p>
    <h3>Name:</h3>
    <p>{{ user.Name }}</p>
    <h3>Email:</h3>
    <p>{{ user.Email }}</p>
    <h3>Birthday:</h3>
    <p>{{ user.Birthday }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openUserUpdateDialog()" color="primary">
      Update Info
    </button>
    <button mat-raised-button (click)="openDeleteUserDialog()" color="primary">
      Delete Account
    </button>
  </mat-card-actions>
</mat-card>
