<!DOCTYPE html>
<mat-card>
  <mat-card-header>
    <mat-card-title>Update your info here!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="updatedUserData.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="updatedUserData.Password"
          placeholder="Password"
          type="password"
          name="Password"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="updatedUserData.Name"
          placeholder="Name"
          type="text"
          name="Name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="updatedUserData.Email"
          placeholder="Email"
          type="email"
          name="Email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="updatedUserData.Birthday"
          placeholder="Birthday"
          type="date"
          name="Birthday"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="updateUser()" color="primary">
      Update
    </button>
  </mat-card-actions>
</mat-card>
