<button
  mat-raised-button
  (click)="openUserPage()"
  style="margin-right: 10px"
  color="primary"
>
  User Info
</button>

<mat-card *ngFor="let movie of movies; let i = index">
  <mat-dialog-content>
    <mat-card-title>{{ movie.Title }}</mat-card-title>
    <mat-card-subtitle
      ><img class="movie-image" src="{{ movie.ImagePath }}"
    /></mat-card-subtitle>
    <button
      mat-raised-button
      (click)="openGenre(movie.Genre.Name, movie.Title)"
      style="margin-right: 10px"
      color="primary"
    >
      {{ movie.Genre.Name }}
    </button>
    <button
      mat-raised-button
      (click)="openDirector(movie.Director.Name, movie.Title)"
      style="margin-right: 10px"
      color="primary"
    >
      Director
    </button>
    <button
      mat-raised-button
      (click)="openSummary(movie.Title)"
      style="margin-right: 10px"
      color="primary"
    >
      Summary
    </button>
    <button
      mat-raised-button
      (click)="addToFavorites(movie._id)"
      style="margin-right: 10px"
      color="primary"
    >
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button
      mat-raised-button
      (click)="removeFromFavorites(movie._id)"
      style="margin-right: 10px"
      color="primary"
    >
      remove
    </button>
  </mat-dialog-content>
</mat-card>
