<button
  mat-raised-button
  (click)="openUserPageDialog()"
  style="margin-right: 10px"
  color="primary"
>
  User Info
</button>

<mat-card *ngFor="let movie of movies; let i = index">
  <mat-dialog-content>
    <mat-card-title>{{ movie.Title }}</mat-card-title>
    <mat-card-subtitle
      ><img class="movie-image" src="{{ movie.ImagePath }}"
    /></mat-card-subtitle>
    <button
      mat-raised-button
      (click)="openGenre(movie.Genre.Name, movie.Title)"
      style="margin-right: 10px"
      color="primary"
    >
      Genre
    </button>
  </mat-dialog-content>
</mat-card>
