<!DOCTYPE html>
<app-navigation-bar></app-navigation-bar>
<!-- <button
  mat-raised-button
  (click)="openUserPage()"
  style="margin-right: 10px"
  color="primary"
>
  User Info
</button>
<button
  mat-raised-button
  (click)="logoutUser()"
  style="margin-right: 10px"
  color="primary"
>
  Logout
</button> -->
<div class="movie-card-container">
  <mat-card *ngFor="let movie of movies; let i = index" class="movie-card">
    <mat-dialog-content>
      <div class="movie-card-header">
        <mat-card-title>{{ movie.Title }}</mat-card-title>
        <mat-card-subtitle
          >Directed by {{ movie.Director.Name }}
        </mat-card-subtitle>
      </div>
      <div class="movie-card-body">
        <img class="movie-image" src="{{ movie.ImagePath }}" />
        <div class="movie-card-button-container">
          <button
            mat-raised-button
            (click)="openGenre(movie.Genre.Name, movie.Title)"
            color="primary"
          >
            {{ movie.Genre.Name }}
          </button>
          <button
            mat-raised-button
            (click)="openDirector(movie.Director.Name, movie.Title)"
            color="primary"
          >
            Director
          </button>
          <button
            mat-raised-button
            (click)="openSummary(movie.Title)"
            color="primary"
          >
            Summary
          </button>
          <button
            mat-button
            *ngIf="!isFavorite(movie._id)"
            (click)="addToFavorites(movie._id)"
            color="accent"
          >
            <mat-icon>favorite_border</mat-icon>
          </button>
          <button
            mat-button
            *ngIf="isFavorite(movie._id)"
            (click)="removeFromFavorites(movie._id)"
            color="accent"
          >
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </mat-dialog-content>
  </mat-card>
</div>
