.fill-remaining-space {
  flex: 1 1 auto;
}

.sum-dialog {
  background-color: grey;
}

.sum-dialog-title {
  color: #69f0ae;
}

.sum-dialog-header {
  background-color: rgb(99, 99, 99);
}

.highlight-text {
  color: #7b1fa2;
  font-weight: 700;
}

.sum-close-button {
  height: 30px;
  color: #fff;
  font-weight: 700;
  background-color: #7b1fa2;
}
