<!DOCTYPE html>
<mat-card class="dir-dialog">
  <mat-card-header class="dir-dialog-header">
    <mat-card-title>
      <h1 class="dir-dialog-title">{{ data.Title }}</h1>
    </mat-card-title>
    <span class="fill-remaining-space"></span>
    <button
      class="dir-close-button"
      aria-label="Close the director details button"
      mat-dialog-close
    >
      X
    </button>
  </mat-card-header>
  <mat-dialog-content class="dir-dialog-content">
    <h3 class="highlight-text">{{ data.Name }}</h3>
    <h4>Birth: {{ data.BirthYear }}</h4>
    <h4>Death: {{ data.DeathYear }}</h4>
    <p>{{ data.Bio }}</p>
  </mat-dialog-content>
</mat-card>
